body {
	margin: 0;
	background: #fefefe;
	overflow-x: hidden;
}

/* piano */

#piano {
	position: sticky;
	bottom: 0px;
	display: flex;
	height: 200px;
	user-select: none;
}

.octave {
	position: relative;
	display: flex;
}

/* 白鍵 */

.white-key {
	width: 1.75vw;
	min-width: 0px;
	max-width: 48px;
	height: 200px;
	background: white;
	border: 1px solid black;
	box-sizing: border-box;
}

/* 黑鍵 */

.black-key {
	position: absolute;
	width: 1.2vw;
	min-width: 14px;
	max-width: 30px;
	height: 120px;
	background: black;
	z-index: 10;
	border-radius: 0 0 4px 4px;
}

/* active */
.white-key.active {
	background: #88ccff;
}

.black-key.active {
	background: #3399ff;
}
